@charset "ISO-8859-1";

.card-sh {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.cat-div{
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.error {
	color: red;
}

body.dark-mode {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

body.dark-mode .navbar,
body.dark-mode .dropdown-menu,
body.dark-mode .bg-primary {
  background-color: #1f1f1f !important;
}

body.dark-mode .text-white {
  color: #e0e0e0 !important;
}

body.dark-mode .card,
body.dark-mode .form-control {
  background-color: #2a2a2a !important;
  color: #ffffff !important;
}

body.dark-mode a {
  color: #90caf9;
}
